/* 画面全体のデザイン */
body{
  margin: 0 ;
  font-family: 'Noto Serif JP', serif ;
  background-color: #fdfaf6 ;
  color: #333 ;
}


/* ヘッダー 全体のデザイン */
.header{
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
  padding: 20px ;
  background: #f7f7f7 ;
  border-bottom: 1px solid #ddd ;
}

/* ヘッダー ロゴデザイン */
.logo{
  font-size: 24px ;
  font-weight: bold ;
}

.logo span{
  font-size: 14px ;
  margin-left: 8px ;
  color: #777 ;
}

/* ヘッダー ナビゲーション部分のデザイン */
.nav form{
  display: inline-block ;
  margin-right: 10px ;
}

.nav form:last-child{
  margin-right: 0 ;
}

.nav button{
  font-size: 14px ;
  border: none ;
  background: none ;
  padding: 0 ;
  color: #333 ;
  cursor: pointer ;
}

.nav button:hover{
  text-decoration: underline ;
}


/* コンテナー 全体のデザイン */
.container{
  max-width: 1200px ;
  margin: 30px auto ;
  padding: 0 20px ;
  text-align: center ;
}

/* コンテナー h1タグのデザイン */
.container h1{
  font-size: 28px ;
  margin-bottom: 20px ;
  border-bottom: 2px solid #ddd ;
  display: inline-block ;
}

/* コンテナー 検索エンジンのデザイン */
.search-form{
  display: flex ;
  width: 250px ;
  margin-bottom: 20px ;
  border: 1px solid #ccc ;
  border-radius: 25px ;
  overflow: hidden ;
  background-color: #fff ;
}

.search-input{
  flex-grow: 1 ;
  padding: 10px 15px ;
  border: none ;
  outline: none ;
  font-size: 16px ;
}

/* コンテナー tableタグのデザイン */
.table-container{
  max-width: 1200px ;
  overflow-x: auto ;
}